@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --main-black: #0b0b0b;
  --main-white: white;
  --main-accent: #d7a830;
  --main-font-family: "Poppins", sans-serif;
  --main-gray-15: rgba(255, 255, 255, 0.15);
  --main-gray-30: rgba(255, 255, 255, 0.3);
  --main-accent-gradient: linear-gradient(90deg, #7d5317 16.52%, #eddf95 83.91%),
    rgba(210, 152, 26, 0.6);
  --main-gray: #6c6c70;
  --main-gray-10: rgba(255, 255, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 834px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: var(--main-font-family);
}

button {
  font-family: var(--main-font-family);
  font-size: 10px;
}
@media only screen and (min-width: 480px) {
  button {
    font-size: 12px;
  }
}
@media only screen and (min-width: 834px) {
  button {
    font-size: 16px;
  }
}

main {
  min-height: 200vh;
}

.alert {
  margin-top: 3.375em;
  height: 3.375em;
  background-color: var(--main-black);
  color: var(--main-white);
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.8em 0 0;
  gap: 1em;
  background: url("/assets/images/alert-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--main-black);
  overflow: hidden;
}
.alert__content {
  display: flex;
  align-items: center;
  gap: 1.75em;
}
.alert__content__item {
  align-items: center;
  position: relative;
}
.alert__content__item.hide--mobile {
  display: none;
}
@media only screen and (min-width: 480px) {
  .alert__content__item.hide--mobile {
    display: flex;
  }
}
.alert__content__item::after {
  content: "";
  position: absolute;
  display: block;
  right: -0.875em;
  background: var(--main-gray-15);
  width: 3px;
  height: 3px;
  border-radius: 50%;
}
.alert__content__item:last-child::after {
  display: none;
}
.alert__text--bold {
  font-weight: 600;
}
.alert__text--accent {
  color: var(--main-accent);
  font-weight: 600;
}
.alert__buttons {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.alert__buttons__item {
  color: var(--main-black);
  background: var(--main-white);
  font-weight: 500;
  line-height: 110%;
  border-radius: 14px;
  display: flex;
  padding: 10px 14px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border: 0;
  cursor: pointer;
}
.alert__close {
  display: none;
  align-items: center;
  justify-content: center;
  color: var(--main-gray-30);
  font-size: 2em;
  cursor: pointer;
}
@media only screen and (min-width: 834px) {
  .alert__close {
    display: flex;
  }
}
.alert__next {
  display: flex;
}
@media only screen and (min-width: 480px) {
  .alert__next {
    display: none;
  }
}

.popup {
  top: 120vh;
  width: 100%;
  right: 0;
  position: absolute;
  height: 349px;
  background: url("/assets/images/popup-image.png");
  background-position-x: 60%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.45);
}
@media only screen and (min-width: 834px) {
  .popup {
    width: 600px;
    bottom: -6em;
    right: 2em;
    border-radius: 16px;
  }
}
.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media only screen and (min-width: 480px) {
  .popup__content {
    padding-left: 50%;
  }
}
.popup__title {
  font-size: 2.5em;
  color: var(--main-white);
}
.popup__subtitle {
  font-size: 2.5em;
  margin-top: 0.1em;
}
.popup__content {
  position: relative;
}
.popup__content__text {
  margin-top: 0.2em;
  color: var(--main-gray);
  display: flex;
  gap: 0.2em;
}
.popup__content__text--accent {
  background: var(--main-accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}
.popup__button {
  background: var(--main-gray-10);
  color: var(--main-white);
  display: inline-flex;
  padding: 12px 24px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 14px;
  opacity: 0.9;
  border: 0;
  margin-top: 3em;
  cursor: pointer;
  display: none;
}
@media only screen and (min-width: 480px) {
  .popup__button {
    display: inline-flex;
  }
}
.popup__close {
  color: var(--main-gray-30);
  position: absolute;
  top: 0.2em;
  right: 0.3em;
  z-index: 5;
  font-size: 2em;
  cursor: pointer;
}
.popup__window {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}/*# sourceMappingURL=main.css.map */